<?xml version="1.0" encoding="UTF-8"?>
<DAVESEVENTS>

<SUBJECT>
    <DATE>May 16</DATE>
    <EVENT>Free Dave's Pro Wash Pressure Cleaning School Training</EVENT>
    <DESC>Hands on training, Commercial Wash Training. Learn hands on with proffessionals in your community. Learn how to mix chemicals and proper saftey techniques.</DESC>
  </SUBJECT>

  <SUBJECT>
    <DATE>June 28</DATE>
    <EVENT>Dave's Pro Wash Business Gathering</EVENT>
    <DESC>Bring teenagers and young adults that want to start their own business and that want to grow in the entrepreneur space. It will take place at Ozark Coffee and at 10:00am. Bring your friends and family </DESC>
  </SUBJECT>

<SUBJECT>
    <DATE>July 30</DATE>
    <EVENT>Community Service Washing</EVENT>
    <DESC>We are planning to be going around cleaing our parks and community center. Hopefully the weather permits. We keep everyone up to date on this event on this website.</DESC>
  </SUBJECT>

<SUBJECT>
    <DATE>August 15</DATE>
    <EVENT>Pressure Washing and Stuff</EVENT>
    <DESC>On August 15th, we will have a gathering at park to talk about pressure washing, chemicals, techniques to get the job done right. Everyone is welcome homeowner and business owners.</DESC>
  </SUBJECT>

<SUBJECT>
    <DATE>November 20</DATE>
    <EVENT>Freezing Cold Weather and Pipes</EVENT>
    <DESC>Learn how to protect your house, plumbing and other things that are subsceptible to the cold weather</DESC>
  </SUBJECT>



</DAVESEVENTS>